.menubar{
    height: 80px;
    padding-right: 20px;
}

.navBar-logo{
    height: 40px;
}

.search-input{
    width:40em !important;
}

.menubar-container{
    width:230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0;
}

.trigger-container{
    flex:1 1 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trigger-content{
    flex:1 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.username-text{
    font-size:16px;
    margin-bottom: 5px;
    font-weight: 100;
}

.user-credits{
    color: #999;
}