.sign-up-methods-body{
    margin: 200px 0!important;
}

.sign-up-methods-header{
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 150px!important;
    text-align: center;
}